header {
    padding: 10px;
    text-align: center;
    background: #00c8ff;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right

  }
  article {font-family: "Monaco", monospace;}
  p {font-family: "Monaco", monospace;}
  h1, h2 {font-family: "Monaco", monospace;}
  h2{color: #00c8ff;}

  ul {
    background: #00c8ff;
    padding: 15px;
  }

  .column {
    float: left;
    width: 33.33%;
  }

h1 {text-align: left;
}
